.menu {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 50px;
    height: 650px;
    width: 350px;
    box-shadow: 0 6px 6px #afafaf;
    max-height: 650px;
    z-index: 9;
}
