.user {
    margin: 10px 10px;
    height: 70px;
    border-bottom: 1px solid rgb(240, 240, 240);

    display: flex;
    flex-direction: row;

    .info-box {
        display: flex;
        flex-direction: row;

        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;

            margin-top: 6px;
            margin-left: 10px;
        }

        .info {
            display: flex;
            flex-direction: column;
            color: rgb(46, 45, 45);
            margin-top: 12px;
            margin-left: 12px;
            font-size: 14px;

            .description {
                font-weight: 600;
            }

            .login {
                font-weight: 200;
            }
        }
    }

    .buttons {
        margin-left: auto;
        margin-right: 10px;

        .close {
            margin-top: 24px;
            color: #f00;
            cursor: pointer;

            &:hover {
                color: rgb(201, 4, 4);
            }
        }

        .repos {
            cursor: pointer;
            color: rgb(199, 199, 199);
            margin-left: 20px;

            &:hover {
                color: rgb(167, 167, 167);
            }
        }
    }
}
